/*estilos del html index*/
.carrucel{
    margin-bottom: 1rem;
}

.contenido{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sobreNosotros{
        background-color: #FFD57E;
        border-radius: 5px;
        width: 904px;
        height: 304px;
        padding: 3rem;
    
        display: flex;
    
        /*Acomodando bootstrap*/
        box-sizing: content-box;

        .informacion{
            flex-basis: 70%;
            padding: 0px 30px 0px 30px;
        
            
            display: flex;
            flex-direction: column;

            &__titulo{
                flex-basis: 20%;
            
                font-family: 'Akaya Telivigala', cursive;
                font-size: 48px;
                text-align: center;
            
                /*Acomodando bootstrap*/
                margin-bottom: 0rem;
            }
            
            &__parrafo{
                flex-basis: 10%;
            
                text-align: right;
                font-size: 22px;
                margin-right: 7%;
                animation-name: animacion1;
                animation-duration: 0.5s;
            
                /*Acomodando bootstrap*/
                margin-bottom: 0rem;
            }
            
            &__parrafo2{
                flex-basis:60%;
            
                padding-top: 38px;
                line-height: 25px;
                font-size: 17px;
            }
        }

        &__img{
            flex-basis: 30%;
            margin: auto;

            & img{
                width: 378px;
            }
        }  
    }

    .contenidoDeProductos{
        margin: 45px auto;
        width: 1033px;
    
        background-color: bisque;
        border-radius: 40px;
    
        display: flex;
        flex-direction: column;
        align-items: center;

        & p{
            font-size: 2.5rem;
            font-family: 'Akaya Telivigala', cursive;
            margin-top: 1rem;
            margin-bottom: 0rem;
            /*margin-left: 30px;*/
        }

        .productosLista{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .producto{
                width: 300px;
                height: 260px;
                margin: 10px 20px;
                position: relative;

                /*animacion de linea*/
                &::after{
                    content: "";
                    position: absolute;
                    background-color: #AC4B1C;
                    top: 100%;
                    left: 0%;
                    width: 100%;
                    height: 3px;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.5s;
                }

                &:hover::after{
                    transform-origin: left;
                    transform: scaleX(1);
                }

                &__contenedorImg{
                    height: 260px;
                    overflow: hidden;
                    position: relative;

                    &__img{
                        position: absolute;
                        width: 400px;
                        left: -53px;

                        &--left{
                            position: absolute;
                            width: 442px;
                            left: -32px;
                        }
                    }
                    
                }
                & h3{
                    position: absolute;
                    bottom: 0;
                    font-family: 'Akaya Telivigala', cursive;
                    color: #FCA652;
                    background-color: bisque;
                
                    font-size: 1.25rem;
                
                    /*Acomodando bootstrap*/
                    margin-bottom: 0rem;
                    line-height: inherit;   
                }
            }
        }
        .contenidoDeProductos__boton{
            margin: 20px;
        }
    }
}


.botonCompra{
    flex-basis: 10%;

    border: 2px solid white;
    border-radius: 5px;
    padding: 7px;
    background-color: beige;
    width: fit-content;
}