/*Tablet*/
@media screen and (max-width: 1024px){
  
}


@media screen and (max-width: 993px){
    
}

@media screen and (max-width: 845px){
    
}

/*telefono*/

@media screen and (max-width: 806px){
    .carrucel{
        margin-bottom: 0rem;
    }
 
}

@media screen and (max-width: 768px){
    /*Opiniones Bootstrap acomodando*/
    .opinionCard{
        min-height: initial;
    }
}

@media screen and (max-width: 610px){


}

@media screen and (max-width: 435px){
    .elementoContacto{
        flex-direction: column;
    }

    .elementoContacto label{
        flex-basis: auto;
    }
}

@media screen and (max-width: 385px){
 
        
}

@media screen and (max-width: 352px){
    .opiniones p:nth-child(1){
        font-size: 1.5rem;
    }

    .opiniones h5{
        font-size: 1.5rem;
    }

    .productoCatalogo{
        width: auto;
    }

    .productoCatalogo__contenedorImg__img--top {
        left: -20%;
        top: -60%;
    }

}

@media screen and (max-width: 346px){
    .producto {
        width: 100%;
    }

    .contenidoDeContacto{
        padding: 2rem 1rem;;
    }
}