/*Tablet*/
@media screen and (max-width: 1024px){
    .contenidoDeProductos{
        width: 90%;
    }

    .sobreNosotros{
        width: 90%;
        height: auto;
        padding: 20px 0;

    }

    .informacion{
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-basis: 60%;
    }

    .informacion__parrafo2{
        padding-top: 13px;
        padding-bottom: 2rem;
    }

    .informacion a{
        margin: 0 auto;
    }

    .sobreNosotros__img{
        flex-basis: 40%;
        padding-right: 30px;
    }

    .productosLista {
        justify-content: space-evenly;
    }

}


@media screen and (max-width: 993px){
    .sobreNosotros__img img{
        width: 100%;
    }
}

@media screen and (max-width: 845px){
    .sobreNosotros{
        flex-direction: column;
    }

    .informacion__parrafo2{
        padding-bottom: 20px;
    }

    .sobreNosotros__img {
        padding: 30px 30px 0 30px;
    }


    
}

/*telefono*/

@media screen and (max-width: 806px){
    .carrucel{
        margin-bottom: 0rem;
    }

    .nav__item:hover{
        transform: scale(1, 1);
    }
    /* Menu lateral */
    .btn-open-sidebar {
        display: inline-block;
        background-color: beige;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }

    .nav__lista {
        background-color: #fcd992;
        width: 80%;
        max-width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        transition: transform 0.5s;
        z-index: 100;
    }

    #sidebar:target {
        transform: translateX(0);
    }

    .nav__item--oculto {
        display: block;
    }

    /* Fin Menu lateral */
}

@media screen and (max-width: 768px){
    /*Opiniones Bootstrap acomodando*/
    .opinionCard{
        min-height: initial;
    }
}

@media screen and (max-width: 610px){
    .contenidoDeProductos p{
        font-size: 2rem;
    }

    .buscador input{
        width: auto;
    }

    .sobreNosotros, .contenidoDeProductos{
        width: 100%;

    }

    .footer{
        height: auto;
    }

    .footer__contenedor{
        flex-direction: column;
        gap: 1rem;
    }
    
}

@media screen and (max-width: 435px){
    .elementoContacto{
        flex-direction: column;
    }

    .elementoContacto label{
        flex-basis: auto;
    }
}

@media screen and (max-width: 385px){
    .contenidoDeProductos p{
        font-size: 1.5rem;
    }

    .buscador{
        display: none;
    }
}

@media screen and (max-width: 352px){
    .opiniones p:nth-child(1){
        font-size: 1.5rem;
    }

    .opiniones h5{
        font-size: 1.5rem;
    }

    .productoCatalogo{
        width: auto;
    }

    .productoCatalogo__contenedorImg__img--top {
        left: -20%;
        top: -60%;
    }

}

@media screen and (max-width: 346px){
    .informacion__titulo{
        font-size: 31px;
    }

    .informacion__parrafo2{
        font-size: 13px;
    }

    .producto {
        width: 100%;
    }

    .contenidoDeContacto{
        padding: 2rem 1rem;;
    }
}